.quiz-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 18px;
    
    padding: 10px;
    
}

li.invis-label{ //we don't use the default li labels so set them to invis.
    list-style-type: none;
}

.ol-label-container{ 
    
    text-align: center;
    border-radius: 10px;
    margin-top:10px;
    margin-right: 20px;
    width:50px;
    height: 50px;
    border:2px solid;
    
    float: left;
}

.ol-label{//specifies where the number is placed relative to the container
    
    margin-top: 10px;
    font-size: 25px;
}

.quiz-questions-container{
    width: 95%;
    

    
}

.numberedList{
    display: flex;
}
.question-container{
    margin:10px;
    padding: 10px;
    display: table;
    width: 100%;
}
@media only screen and (max-width: 800px) {
    ol {
        display: block;
        list-style-type: decimal;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }
    .quiz-questions-container{
        width: 100%;
    }
    .question-container{
        margin: 0;
        padding: 0;
    }
    .ol-label-container{
            
    text-align: center;
    border-radius: 10px;
    margin-top:0px;
    margin-right: 0px;
    height: 50px;
    border:2px solid;
    
    float: left;
    }
  }
