.quiz-results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.snapshot {
    width:50%;
    padding-left: 1px;
    padding-right: 1px;
    // border: 2px solid #6B9BC0;
    // border-radius: 5px;
}


.snapshot-chart {
    width:100%;
    padding-left: 1px;
    padding-right: 1px;
    // border: 2px solid #6B9BC0;
    // border-radius: 5px;
}