.quiz-results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFFFFF;
}

.snapshot {
    width: 100%;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    // border: 2px solid #6B9BC0;
    // border-radius: 5px;
}

