.points-allocation-page-container{
    display:flex;
    flex-direction: column;
}
.tick-bar-and-mod-wrapper{
    display: flex;
}
td.tick-bar-block{
    width: 100%;
}
.tick-bar-modifier{
    float: right;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    justify-content: space-evenly;
    border-radius: 5px;
}
.tick-bar-modifier button{
    margin:0;
    background:none;
    border: none;
    min-width: 50px;
    
    color:white;
    border-radius: 0px;
}
.tick-bar-modifier button:focus{
    
    outline: none;
    box-shadow: none;     
}
button.add-btn:hover{
    background-color: #9ae0b6;
}
button.sub-btn:hover{
    background-color:#c96c6c ;
}


.points-allocation-page-container h1{
    margin-left: 10px;
    align-self: flex-start;
}
.tick-bar-label{
    text-align: left;
    float: left;
    margin-right: 10px;
    white-space: nowrap;
}

.tick-bars-container{
    display:inline-block;
    width:50%;
    margin:10px;
}

.points-label-container{ 
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.points-label-container h2{ 
    margin:10px;
}

.points-label{//specifies where the number is placed relative to the container
    
    text-align: center;
    border-radius: 10px;
    margin-right: 20px;
    width:50px;
    border: 2px solid #509EAA;
    
    padding: 10px;
    
    font-size: 22px;
}